/* CSS Document */
* {
  box-sizing: border-box;
}
*::after, *::before {
  box-sizing: border-box;
}
html {
  font-size: 100%;
  height: 100%;
  -ms-overflow-style: scrollbar;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
}
body {
  background-color: black;
  color: rgba(255,255,255,0.75);
  font-family: sans-serif;
  font-weight: normal;
  line-height: 1.5;
  margin: 0;
  min-height: 100%;
  padding: 0;
  position: relative;
  width: 100%;
  -webkit-font-smoothing: antialiased;
}
*[onclick], *[ondblclick], *[onmousedown], *[onmouseup] {
  cursor: pointer;
}
*[onmouseout], *[onmouseover] {
  cursor: progress;
}
*[onmousemove] {
  cursor: move;
}
*[readonly] {
  cursor: help;
}
*[disabled] {
  opacity: 1;
}
*[dir="ltr"] {
  text-align: left;
}
*[dir="rtl"] {
  text-align: right;
}
*[draggable] {
  cursor: move;
}
*[hidden] {
  display: none !important;
  visibility: hidden;
}
a {
  background-color: transparent;
  color: #469ff0;
  opacity: 1;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  touch-action: manipulation;
  -ms-touch-action: manipulation;
  vertical-align: baseline;
}
a:link, a[href] {
  color: #469ff0;
  cursor: pointer;
  opacity: 1;
  text-decoration: none;
}
a:focus, a:hover {
  color: #469ff0;
  background-color: rgba(29,185,219,0.25);
  opacity: 0.9;
  outline: 0;
}
a:active {
  color: #469ff0;
  opacity: 0.8;
  outline: 0;
}
a:visited {
  color: #469ff0;
  opacity: 0.7;
}
a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}
a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {
  color: inherit;
  text-decoration: none;
}
a:not([href]):not([tabindex]):focus {
  outline: 0;
}
a[target="_blank"]:after {}
a img {
  border: 0 none transparent;
  text-decoration: none;
}
abbr, abbr[data-original-title], abbr[title] {
  border-bottom: 0.0833333em dotted;
  cursor: help;
  text-decoration: none;
  vertical-align: baseline;
}
address {
  font-style: normal;
  line-height: inherit;
  margin-bottom: 0;
}
area {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
article {
  display: block;
}
aside {
  display: block;
}
audio {
  box-sizing: content-box;
  display: block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
b {
  font-weight: bold;
  vertical-align: baseline;
}
b strong {
  font-weight: bolder;
}
bdo {}
blockquote {
  color: inherit;
  font-weight: normal;
  font-size: inherit;
  margin: 0;
}
blockquote:before {
  content: open-quote;
}
blockquote:after {
  content: close-quote;
}
br {}
html [type="button"] {
  -webkit-appearance: button;
}
[role="button"] {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
}
[type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner, button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
canvas {
  display: block;
  background: white;
  vertical-align: top;
}
cite {
  color: inherit;
  display: block;
  font-family: serif;
  font-size: 80%;
  font-style: normal;
  opacity: 0.75;
}
cite:before {
  content: "— ";
}
.code, code {
  font-family: monospace;
  font-size: 1.2307692em;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  vertical-align: baseline;
}
del {
  padding: 0.25em 0.5em;
  text-decoration: line-through;
  vertical-align: baseline;
}
dfn {
  font-family: serif;
  font-style: normal;
  vertical-align: baseline;
}
div {}
dl {
  font-family: serif;
  margin-top: 0;
  margin-bottom: 0;
}
dl dt {
  font-weight: bold;
  line-height: inherit;
}
dl dd {
  line-height: inherit;
}
em {
  font-style: italic;
  font-style: oblique;
  vertical-align: baseline;
}
embed {
  height: auto;
  display: block;
  max-width: 100%;
}
.fieldset, fieldset {
  background-color: rgba(255, 255, 255, 0.55);
  margin: 0;
  min-width: 0;
}
.legend, fieldset legend {
  color: inherit;
  font-size: inherit;
  line-height: 1;
  margin-bottom: 0;
  width: auto;
}
.figure, figure {
  display: block;
  margin: 0;
}
.figure embed, .figure img, .figure object, .figure video, figure embed, figure img, figure object, figure video {
  display: block;
  max-width: 100%;
}
.figure img, figure img {
  display: block;
  margin-bottom: 0;
  max-width: 100%;
  line-height: 1;
}
.figure .figcaption, .figure figcaption, figure .figcaption, figure figcaption {
  display: block;
  font-size: 100%;
}
font {}
footer {
  display: block;
}
form {}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
  text-rendering: optimizeLegibility;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
.h1, h1 {
  font-size: 3em;
  font-weight: 100;
  line-height: 1.1;
}
.h2, h2 {
  font-size: 2.5em;
  font-weight: 100;
  line-height: 1.15;
}
.h3, h3 {
  font-size: 2em;
  font-weight: 300;
  line-height: 1.2;
}
.h4, h4 {
  font-size: 1.5em;
  font-weight: 400;
  line-height: 1.25;
}
.h5, h5 {
  font-size: 1.25em;
  font-weight: 500;
  line-height: 1.3;
}
.h6, h6 {
  font-size: 1.125em;
  font-weight: 600;
  line-height: 1.35;
}
header {
  clear: both;
  display: block;
  width: 100%;
}
[hidden] {
  display: none;
  visibility: hidden;
}
hr {
  border: 0 none transparent;
  box-sizing: content-box;
  clear: both;
  height: 0;
  overflow: visible;
}
i {
  vertical-align: baseline;
}
iframe {}
img {
  border: 0 none transparent;
  height: auto;
  max-width: 100%;
  page-break-inside: avoid;
  vertical-align: top;
  -ms-interpolation-mode: bicubic;
}
input {
  border-style: solid;
  color: inherit;
  cursor: pointer;
  font: inherit;
  line-height: 1;
  margin: 0;
  overflow: hidden;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
input:hover {
  outline: none;
}
input:focus {
  outline: none;
}
input[readonly] {
  cursor: help;
  outline: none;
}
input[disabled] {
  outline: none;
}
::-webkit-file-upload-button, input[type="button"], input[type="file"]::-webkit-file-upload-button, input[type="reset"], input[type="submit"] {
  background: white;
  border-style: solid;
  cursor: pointer;
  line-height: 1;
  -webkit-appearance: button;
}
input[type="checkbox"] {
  box-sizing: border-box;
  cursor: pointer;
  margin: 0;
  padding: 0;
}
input[type="checkbox"]:focus {
  outline: none;
  outline-offset: 0;
}
input[type="checkbox"][disabled] {
  cursor: default;
}
input[type="color"] {
  background-color: white;
  height: auto;
  min-width: 1em;
  width: auto;
  -webkit-appearance: none;
  vertical-align: top;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  min-height: 1em;
  min-width: 1em;
  padding: 0;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
}
input[type="email"] {
  cursor: text;
}
input[type="file"] {
  display: inline-block;
  vertical-align: bottom;
}
input[type="file"]:focus {
  outline: none;
  outline-offset: 0;
}
input[type="hidden"] {}
input[type="image"] {
  vertical-align: top;
}
input[type="number"] {}
input[type="password"] {
  cursor: text;
}
input[type="radio"] {
  box-sizing: border-box;
  cursor: pointer;
  margin: 0;
  padding: 0;
}
input[type="radio"]:focus {
  outline: none;
  outline-offset: 0;
}
input[type="radio"][disabled] {
  cursor: default;
}
input[type="range"] {
  display: block;
  width: 100%;
}
input[type="search"] {
  box-sizing: border-box;
  cursor: text;
  font-family: inherit;
  -webkit-appearance: none;
}
input[type="tel"] {
  cursor: text;
}
input[type="text"] {
  cursor: text;
}
input[type="text"]::-ms-clear {
  display: none !important;
}
input:not([type]), input[type="email"], input[type="number"], input[type="password"], input[type="tel"], input[type="text"], input[type="url"] {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
input[type="text"][readonly] {
  outline: none;
}
input[type="text"][disabled] {
  outline: none;
}
input[type="url"] {
  cursor: text;
}
input[type="checkbox"]::-ms-check, input[type="radio"]::-ms-check {
  border-color: #b8b8b8;
  border-top-color: #c1c1c1;
}
input[type="date"], input[type="datetime-local"], input[type="month"], input[type="time"] {
  -webkit-appearance: listbox;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {}
input::-moz-placeholder, textarea::-moz-placeholder {}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {}
[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  outline: none;
  -webkit-appearance: none;
}
[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
ins {
  padding: 0.25em 0.5em;
  text-decoration: none;
  vertical-align: baseline;
}
ins:before {
  content: '+ ';
  font-weight: bold;
}
kbd {
  font-family: monospace;
  font-size: 1em;
}
keygen {
  border-radius: 0;
  border-color: #b8b8b8;
  border-top-color: #c1c1c1;
  font: inherit;
}
label {
  display: block;
  font-size: 1em;
  font-weight: normal;
  margin-bottom: 0;
  max-width: 100%;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
label[for] {
  cursor: pointer;
}
main {
  display: block;
}
map {}
.mark, mark {
  border: none;
  color: inherit;
  font-weight: normal;
  padding: 0.25em 0.5em;
  white-space: nowrap;
  vertical-align: baseline;
}
menu {
  display: block;
}
meter {
  border-radius: 0.15em;
  display: inline-block;
}
nav {
  clear: both;
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
}
noscript {}
object {
  background: white;
  display: block;
  max-width: 100%;
}
output {
  color: inherit;
  display: inline-block;
  font-size: inherit;
  line-height: 1.5;
  padding: 0;
}
param {}
p {
  font-weight: normal;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 80em;
  text-rendering: optimizeLegibility;
  user-select: text;
}
pre {
  color: black;
  font-family: monospace;
  font-size: 1.2307692em;
  line-height: 1.5;
  margin: 0;
  overflow: auto;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
pre code {
  font-size: 1em;
}
progress {
  border-radius: 0.25em;
  display: block;
  height: 1.5em;
  width: 100%;
}
progress[value] {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  border-radius: 0.25em;
  height: 1.5em;
}
progress[value]::-moz-progress-bar {
  border-radius: 0.25em;
}
progress[value]::-webkit-progress-bar {
  border-radius: 0.25em;
}
progress[value]::-webkit-progress-value {
  border-radius: 0.25em;
}
q {
  font-family: serif;
  font-style: italic;
  quotes: "\201C" "\201D" "\2018" "\2019";
  vertical-align: baseline;
}
s {
  vertical-align: baseline;
}
samp {
  font-family: monospace;
  font-size: 1em;
}
section {
  display: block;
  margin: 0;
  padding: 0;
}
select {
  background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23055da7' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right 0.5em center;
  background-size: 1em 1em;
  border-color: #b8b8b8;
  border-radius: 0;
  border-style: solid;
  border-top-color: #c1c1c1;
  border-width: 0.08333333em;
  color: inherit;
  cursor: pointer;
  font: inherit;
  margin: 0;
  min-height: 1.666667em;
  padding: 0.08333333em 0 0.08333333em 0.25em;
  text-transform: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -moz-appearance: none;
  -webkit-appearance: none;
}
select:focus, select:hover {
  outline: none;
}
select optgroup {
  color: inherit;
  cursor: pointer;
  font: inherit;
  font-weight: bold;
  margin: 0;
}
select option {
  cursor: pointer;
}
select[multiple] {
  cursor: pointer;
  height: auto;
  vertical-align: top;
}
select::-ms-expand {
  background: none;
  border: none;
}
select[size] {
  height: auto;
}
select[size="0"], select[size="1"] {
  border-color: #b8b8b8;
  border-top-color: #c1c1c1;
}
.small, small {
  font-size: 80%;
}
span {
  vertical-align: baseline;
}
strong {
  font-weight: bold;
  font-weight: 700;
  vertical-align: baseline;
}
strong b {
  font-weight: 900;
}
sub {
  bottom: -0.25em;
  font-family: sans-serif;
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  font-family: sans-serif;
  font-size: 75%;
  line-height: 0;
  position: relative;
  top: -0.5em;
  vertical-align: baseline;
}
summary {
  display: list-item;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
svg:not(:root) {
  overflow: hidden;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0;
  padding: 0;
}
table caption {
  caption-side: bottom;
  font-size: 80%;
  padding: 0;
  text-align: left;
}
table tbody {
  margin: 0;
  padding: 0;
}
table td {
  margin: 0;
  padding: 0;
}
table tfoot {
  margin: 0;
  padding: 0;
}
table th {
  font-weight: normal;
  margin: 0;
  padding: 0;
  text-align: left;
}
table thead {
  margin: 0;
  padding: 0;
}
table tr {
  margin: 0;
  padding: 0;
}
template {
  display: none;
}
textarea {
  border-width: 0.08333333em;
  border-style: solid;
  color: inherit;
  display: block;
  font: inherit;
  font-size: 1em;
  margin: 0;
  overflow: auto;
  resize: vertical;
  vertical-align: top;
  width: 100%;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
textarea:hover {
  outline: none;
}
textarea[rows] {
  height: auto;
}
time {}
u {
  text-decoration: none;
  vertical-align: baseline;
}
ul {
  list-style-type: square;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 1.67em;
}
ul li {}
ul ul {
  list-style-type: disc;
}
ul ul ul {
  list-style-type: circle;
}
ol {
  list-style: decimal;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 1.67em;
}
ol ol {
  list-style: lower-alpha;
}
ol ol ol {
  list-style: lower-roman;
}
ol ol, ol ul, ul ol, ul ul {
  margin-bottom: 0;
}
var {
  font-family: monospace;
  font-style: normal;
}
video {
  background: white;
  display: block;
  vertical-align: top;
}
:focus, :hover {
  outline: 0;
}
[tabindex="-1"]:focus, [tabindex="-1"]:hover {
  outline: none !important;
}
body {
  font-family: sans-serif;
  font-weight: 100;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
  line-height: 1;
  margin: 0;
  padding: 0;
}
section {
  padding: 2em;
}
.nowrap {
  white-space: nowrap;
}
.text-primary {
  color: #077cdf;
}
.text-gray {
  color: #818489;
}
.container {
  margin:0 auto;
  max-width:80em;
}
.text-muted {
  opacity: 0.75;
}