:root {
    /* CSS Variables */
    --borderRadius: 1.5em;
    --borderWidth: 0.375em;
    --fontFamily: system-ui;
    --gap: 1em;
    --gapSmall: 0.75em;
    --gapMedium: 1em;
    --gapLarge: 1.25em;
    --margin: 0.75em;
    --marginSmall: 0.5em;
    --marginMedium: 0.75em;
    --marginLarge: 1em;
    --padding: 1.5em;
    --paddingSmall: 1em;
    --paddingMedium: 1.5em;
    --paddingLarge: 2em;
    --animationDuration: 1s;
    --animationTimingFunction: cubic-bezier(0.25, 0.1, 0.25, 1);

    /* Gray Colors */
    --borderColor: rgba(128, 128, 128, 0.25);
    --borderTopColor: rgba(255, 255, 255, 0.15);
    --borderBottomColor: #000000;


    /* THEMES */

    /* Dark Theme */
    --darkBackground1: #1F6100;
    --darkBackground2: #363d40;
    --darkBackground3: #2b3033;
    --darkColor1: #96E371;
    --darkFont1: #ffffff;
    --darkFont2: #CDCFCC;

    /* Light Theme */
    --lightBackground1: #BFBFFF;
    --lightBackground2: #ffffff;
    --lightBackground3: #f2f2f2;
    --lightColor1: #5454FF;
    --lightFont1: #000000;
    --lightFont2: #625252;
}

* {
    animation: fadeIn var(--animationDuration) var(--animationTimingFunction);
    transform: all var(--animationDuration) var(--animationTimingFunction);
    transition: all var(--animationDuration) var(--animationTimingFunction);
}

html {
    box-sizing: border-box;
    height: 100%;
}

body {
    background-color: rgb(128, 128, 128);
    font-family: var(--fontFamily), system-ui, sans-serif;
    margin: 0em;
    overflow: hidden;
}

body.dark {
    background-color: var(--darkBackground3);
    color: var(--darkFont2);
}

body.light {
    background-color: var(--lightBackground3);
    color: var(--lightFont2);
}

a.button {
    display: inline-block;
    text-decoration: none;
    padding: 0em 1em;
    border-radius: 1.375em;
    line-height: 2.625em;
    outline: 0em solid transparent;
}

.dark a.button,
a.button.dark {
    background-color: var(--darkColor1);
    color: var(--darkBackground1);
}

.light a.button,
a.button.light {
    background-color: var(--lightColor1);
    color: var(--lightBackground1);
}

.dark a.button .icon {
    fill: black;
}

.light a.button .icon {
    fill: white;
}

a.button:hover,
a.button:focus {
    background-image: none;
    outline-style: solid;
    outline-width: 0.25em;
    position: relative;
    top: -0.125em;
}

.dark a.button:hover,
.dark a.button:focus {
    background-color: white;
    color: black;
    outline-color: var(--darkColor1);
}

.dark a.button:hover .icon,
.dark a.button:focus .icon {
    fill: white;
}

.light a.button:hover,
.light a.button:focus {
    background-color: black;
    color: white;
    outline-color: var(--lightColor1);
}

.light a.button:hover .icon,
.light a.button:focus .icon {
    fill: black;
}

a.button img {
    position: relative;
    top: -0.125em;
    vertical-align: middle;
}

a.button2 {
    display: inline-block;
    text-decoration: none;
    padding: 0.71875em 0.8125em 0.6875em;
    border-radius: 1.365em;
    outline: 0em solid transparent;
}

.dark a.button2,
a.button2.dark {
    color: var(--darkFont2);
}

.light a.button2,
a.button2.light {
    color: var(--lightFont2);
}

a.button2:hover,
a.button2:focus {
    border-color: transparent;
    position: relative;
    top: -0.125em;
}

.dark a.button2:hover,
.dark a.button2:focus {
    background-color: var(--darkBackground1);
    color: black;
}

.light a.button2:hover,
.light a.button2:focus {
    background-color: var(--lightBackground1);
    color: white;
}

.dark a.button2:hover .icon,
.dark a.button2:focus .icon {
    fill: white;
}

.light a.button2:hover .icon,
.light a.button2:focus .icon {
    fill: black;
}

a.thumb {
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-bottom: 0.0625em solid var(--borderBottomColor);
    border-left: 0.0625em solid var(--borderColor);
    border-right: 0.0625em solid var(--borderColor);
    border-top: 0.0625em solid var(--borderTopColor);
    box-sizing: border-box;
    display: block;
    width: 100%;
    box-sizing: border-box;
    text-decoration: none;
    outline: 0em solid transparent;
    opacity: 0.9;
}

a.thumb:focus,
a.thumb:hover {
    border-color: var(--darkColor1);
    border-style: solid;
    opacity: 1;
    outline: 0.375em solid var(--darkColor1);
    position: relative;
    top: -0.125em;
    z-index: 9999;
}

.alignItemsCenter,
.alignCenter {
    align-items: center;
}

.avatar {
    border-radius: 50%;
    width: 3em;
    height: 3em;
    vertical-align: middle;
    border-color: var(--borderColor);
    border-top-color: var(--borderTopColor);
    border-bottom-color: var(--borderBottomColor);
    border-style: solid;
    border-width: 0.0625wm;
}

.card {
    padding: 1em 0px 0px 1em;
}

.classAbout {
    font-weight: 300;
}

.dark .color1,
.dark.color1 {
    color: var(--darkColor1);
}

.light .color1,
.light.color1 {
    color: var(--lightColor1);
}

.div {
    backdrop-filter: blur(16px);
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.flexGrow {
    flex-grow: 1;
}

.flexRow {
    display: flex;
    flex-direction: row;
}

.dark.fontColor1,
.dark .fontColor1 {
    color: var(--darkFont1);
}

.light.fontColor1,
.light .fontColor1 {
    color: var(--lightFont1);
}

.dark.fontColor2,
.dark .fontColor3 {
    color: var(--darkFont2);
}

.light.fontColor2,
.light .fontColor2 {
    color: var(--lightFont2);
}

footer {
    border-radius: var(--borderRadius);
    position: fixed;
    left: 0;
    text-align: left;
    top: 0;
    z-index: 10000;
}

.gap {
    gap: var(--gap);
}

.gapSmall {
    gap: var(--gapSmall);
}

.gapMedium {
    gap: var(--gapMedium);
}

.gapLarge {
    gap: var(--gapLarge);
}

h1 {
    color: var(--color1);
    font-size: 1.25em;
    font-weight: 600;
    margin: 0;
}

h4 {
    font-size: 1em;
    font-weight: 500;
    margin: 0;
}

h5 {
    font-size: 0.9em;
    font-weight: 400;
    margin: 0;
}

.header {
    box-sizing: border-box;
    order: 2;
}

.hidden {
    display: none;
}

.dark .icon,
.dark.icon {
    fill: var(--darkFont2);
}

.light .icon,
.light.icon {
    fill: var(--lightFont2);
}

input[type=radio] {
    cursor: pointer;
    height: 44pm;
    line-height: 44px;
}

.justifyContentCenter,
.justifyCenter {
    justify-content: center;
}

label[for] {
    cursor: pointer;
}

nav {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
}

p {
    font-weight: 300;
    line-height: 1.5;
    margin: 0em;
    max-width: 40em;
}

.dark p,
p.dark {
    color: var(--darkFont2);

}

.light p,
p.light {
    color: var(--lightFont2);

}

.padding {
    padding: var(--padding);
}

.page {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.page main {
    display: flex;
    flex: auto;
    flex-direction: column;
    height: 100%;
}

.page main .thumbnails {
    display: flex;
    flex: auto;
    flex-direction: column;
}

.page main .thumbnails .thumbnail {
    flex: auto;
}

.dark .resumeLink {
    color: var(--darkColor1);
}

.light .resumeLink {
    color: var(--lightColor1);
}

.resumeLink:hover,
.resumeLink:focus {
    border-radius: 1.5em;
    outline-style: solid;
    outline-width: 0.25em;
    text-decoration: none;
}

.dark .resumeLink:hover,
.dark .resumeLink:focus {
    background-color: var(--darkFont1);
    border-color: var(--darkFont1);
    color: black;
    outline-color: var(--darkFont1);

}

.textRight {
    text-align: right;
}

.thumb {
    animation: 3s ease 0s 1 slideUp;
    height: 100%;
}

/* Change Theme */
#themeButton {
    background: none;
    border: none;
    border-radius: 0px 0px 50% 0px;
    cursor: pointer;
    padding: 0.75em 0.875em;
}

.dark #themeButton {
    background-color: var(--darkBackground2);
}

.light #themeButton {
    background-color: var(--lightBackground2);
}

#themeButton:hover {
    position: relative;
    top: -0.125em;
}

.dark #themeButton:hover {
    background-color: navy;
}

.light #themeButton:hover {
    background-color: yellow;
}

.dark #themeIcon {
    content: url("../src/moon-icon.svg");
}

.light #themeIcon {
    content: url("../src/sun-icon.svg");
}

/* End Change Theme */

/* IDs */
#buttonPrimary1 {
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    margin-top: 0.75em;
}

.dark #buttonPirmary1 .icon,
.dark #buttonPrimary1:hover .icon,
.dark #buttonPrimary1:focus .icon {
    fill: var(--darkBackground2);
}

.light #buttonPirmary1 .icon,
.light #buttonPrimary1:hover .icon,
.light #buttonPrimary1:focus .icon {
    fill: var(--lightBackground2);
}

#id-thumb-case-study-1 {
    background-image: url(../url/devilish-icons-and-fonts-social.png);
}

#id-thumb-case-study-2 {
    background-image: url(../url/augmented-reality-ui-kit-social.png);
}

#id-thumb-case-study-3 {
    background-image: url(../url/ai-design-templates-social.png);
}

/* End IDs */

/* Media Queries */
@media screen {
    .screenReaderOnly {
        display: none;
    }
}

@media only screen and (max-width: 40em) {
    .hideMobile {
        display: none;
    }
}

/* Tablet */
@media only screen and (min-width: 34em) {

    .page {
        align-items: center;
        flex-direction: row;
    }

    .page header {
        order: 2;
        overflow: auto;
        width: 20em;
    }

    .card {
        padding: 1.5em 0px 2em 2em;
    }
}

/* Desktop */
@media only screen and (min-width: 64.0625em) {
    .card {
        padding: 2em 0px 2em 2em;
    }
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes slideUp {
    0% {
        animation-duration: 1s;
        opacity: 0;
        transform: translateY(-2.5%);
    }

    100% {
        animation-duration: 1s;
        opacity: 1;
        transform: translateY(0%);
    }
}

/* End Animations */