@keyframes slideUp {
    0% {
        transform: translateY(-2.5%);
        opacity: 0;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

:root {
    --backgroundColor1: #824c00;
    --backgroundColor2: #363d40;
    --backgroundColor3: #2b3033;
    --borderColor: rgba(128, 128, 128, 0.25);
    --borderBottomColor: #000000;
    --borderRadius: 1.5em;
    --borderTopColor: rgba(255, 255, 255, 0.15);
    --color1: #FFC573;
    --fontColor1: #ffffff;
    --fontColor2: #CCC9C4;
    --padding: 1.5em;
}

html {
    box-sizing: border-box;
    height: 100%;
}

body {
    background-color: var(--backgroundColor3);
    color: var(--fontColor2);
    font-family: system-ui, sans-serif;
    margin: 0em;
    overflow: hidden;
    transition: all 1000ms ease;
}

a.button {
    display: inline-block;
    color: black;
    background-color: var(--color1);
    text-decoration: none;
    padding: 0em 1em;
    border-radius: 1.375em;
    transition: all 1000ms ease;
    outline: 0em solid transparent;
    line-height: 2.625em;
}

a.button:hover,
a.button:focus {
    background-color: white;
    background-image: none;
    color: black;
    outline: 0.25em solid var(--color1);
    position: relative;
    top: -0.125em;
    transition: all 1000ms ease;
}

a.button img {
    vertical-align: middle;
    position: relative;
    top: -0.125em;
}

a.button2 {
    display: inline-block;
    color: var(--fontColor2);
    text-decoration: none;
    padding: 0.71875em 0.8125em 0.6875em;
    border-radius: 1.365em;
    outline: 0em solid transparent;
    transition: all 1000ms ease;
}

a.button2:hover,
a.button2:focus {
    background-color: var(--backgroundColor1);
    border-color: transparent;
    color: black;
    position: relative;
    top: -0.125em;
    transition: all 1000ms ease;
}

a.button2:hover .icon,
a.button2:focus .icon {
    fill: var(--fontColor1);
    transition: all 1000ms ease;
}

a.thumb {
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-bottom: 0.0625em solid black;
    border-left: 0.0625em solid var(--borderColor);
    border-right: 0.0625em solid var(--borderColor);
    border-top: 0.0625em solid var(--borderTopColor);
    box-sizing: border-box;
    display: block;
    width: 100%;
    box-sizing: border-box;
    text-decoration: none;
    transition: all 1000ms ease;
    outline: 0em solid transparent;
    opacity: 0.9;
}

a.thumb:focus,
a.thumb:hover {
    border-color: var(--color1);
    border-style: solid;
    opacity: 1;
    outline: 0.375em solid var(--color1);
    position: relative;
    top: -0.125em;
    z-index: 9999;
}

.alignItemsCenter,
.alignCenter {
    align-items: center;
}

.avatar {
    border-radius: 50%;
    width: 3em;
    height: 3em;
    vertical-align: middle;
    border: 1px solid rgba(128, 128, 128, 0.5);
}

.card {
    padding: 1em 0px 0px 1em;
}

.classAbout {
    font-weight: 300;
}

.color1 {
    color: var(--color1);
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.flexGrow {
    flex-grow: 1;
}

.flexRow {
    display: flex;
    flex-direction: row;
}

.fontColor1 {
    color: var(--fontColor1);
}

.fontColor2 {
    color: var(--fontColor2);
}

.gap {
    gap: 1em;
}

.gapSmall {
    gap: 1em;
}

.gapMedium {
    gap: 1.5em;
}

.gapLarge {
    gap: 2em;
}

h1 {
    color: var(--color1);
    font-size: 1.25em;
    font-weight: 600;
    margin: 0;
    transition: all 1000ms ease;
}

h4 {
    font-size: 1em;
    font-weight: 500;
    margin: 0;
    transition: all 1000ms ease;
}

.header {
    box-sizing: border-box;
    order: 2;
}

.hidden {
    display: none;
}

.icon {
    fill: var(--fontColor2);
    transition: all 1000ms ease;
}

.justifyContentCenter,
.justifyCenter {
    justify-content: center;
}

nav {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
}

p {
    color: var(--fontColor2);
    line-height: 1.5;
    margin: 0em;
    max-width: 40em;
}

.padding {
    padding: var(--padding);
}

.page {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.page main {
    display: flex;
    flex: auto;
    flex-direction: column;
    height: 100%;
}

.page main .thumbnails {
    display: flex;
    flex: auto;
    flex-direction: column;
    transition: all 1000ms ease;
}

.page main .thumbnails .thumbnail {
    flex: auto;
}


.resumeLink {
    color: var(--fontColor1);
    transition: all 1000ms ease;
}

.resumeLink:hover,
.resumeLink:focus {
    background-color: white;
    border-radius: 1.5em;
    border-color: white;
    color: black;
    outline: 4px solid white;
    text-decoration: none;
    transition: all 1000ms ease;
}

.textRight {
    text-align: right;
}

.thumb {
    animation: 3s ease 0s 1 slideUp;
    height: 100%;
    transition: all 1000ms ease;
}

#buttonPrimary1 {
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    margin-top: 0.75em;
}

#id-thumb-case-study-1 {
    background-image: url(../url/devilish-glyphs-social.png);
}

#id-thumb-case-study-2 {
    background-image: url(../url/beta-ui-kit-social.png);
}

#id-thumb-case-study-3 {
    background-image: url(../url/beta-os23-social.png);
}

@media only screen and (max-width: 40em) {
    .hideMobile {
        display: none;
    }
}

/* Tablet */
@media only screen and (min-width: 34em) {

    .page {
        align-items: center;
        flex-direction: row;
        transition: all 1000ms ease;
    }

    .page header {
        order: 2;
        overflow: auto;
        transition: all 1000ms ease;
        width: 20em;
    }

    .card {
        padding: 1.5em 0px 2em 2em;
    }
}

/* Desktop */
@media only screen and (min-width: 64.0625em) {
    .card {
        padding: 2em 0px 2em 2em;
    }
}